button {
  color: white;
  background: lightseagreen;
}

button:hover {
  background: lightblue;
}
html{
  font-family: Helvetica;
  border: solid black;
  width: 50%;
}
h1{
  text-align:center;
}
h3{
    text-align: center;
}
div{
  display: flex;
  flex-wrap: wrap;
  
  border: solid black 1px;
  padding: 10px;
  margin: 5px;
}
progress{
  width: 100%;
}
.delete{
    background-color: yellowgreen;
    color: black;
    float: right;
    margin: 5px;
}
#Input{
  display: flex;
  justify-content: center;
  align-content: center;
}
#taskNamer{
  width: 95%;
}